<html>

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js" type="application/javascript"></script>
    <script src="loginApp.js"></script>

</head>

<body>

<div class="container">
    <div class="jumbotron">
        <h1 align="center">Recepies</h1>
        <br>
        <br>
    </div>
    <br/>
</div>

<div ng-app="myApp" ng-controller="nutritionctrl" align="center">
    <label >Ingredient Name: </label>
    <input id="labelCss" type="text" name="input" ng-model="example.ingrName" ng-pattern="example.word" required ng-trim="false">
    <button  ng-click="kgsearch(example.ingrName)"> Search</button>
    <br>
    <br>
    <br>

    <div class = "row">

    <div ng-repeat="data in kgraphRecords" style="margin:0 auto;">
        <span ng-if="data.result.image.contentUrl">
          <div class="card" style="width: 250px;margin-left:10px;">
            <img class="card-img-top" style="height:300px;width: 250px;" src={{data.result.image.contentUrl}} alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{data.result.name}}</h5>
              <p class="card-text">{{data.result.description}}</p>
            </div>
          </div>
        </span>
    </div>


</div>
</div>


</body>

</html>