<p>You're logged in!!</p>
<label >Enter your search: </label>
<input type="text" name="input" ng-model="example.ingrName">
<button  ng-click="kgsearch(example.ingrName)"> Search</button>

<div class = "row">

    <div ng-repeat="data in kgraphRecords" style="margin:0 auto;">
        <span ng-if="data.result.image.contentUrl">
          <div class="card" style="width: 250px;margin-left:10px;">
            <img class="card-img-top" style="height:300px;width: 250px;" src={{data.result.image.contentUrl}} alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{data.result.name}}</h5>
              <p class="card-text">{{data.result.description}}</p>
            </div>
          </div>

        </span>
    </div>


</div>

<p>&nbsp;</p>
<p><a href="#/login" class="btn btn-primary">Logout</a></p>